<form method="POST" th:action="@{/3}">
<select id="select" name="data1">    
        	<option value="0">Select Data Column</option>                                        
            <option value="timestamp">timestamp</option>
            <option value="ax">ax</option>
            <option value="ay">ay</option>
            <option value="az">az</option>
            <option value="wx">wx</option>
            <option value="wy">wy</option>
            <option value="wz">wz</option>
        </select> <br><br>
<select id="select" name="data2">    
        	<option value="0">Select Data Column</option>                                        
            <option value="timestamp">timestamp</option>
            <option value="ax">ax</option>
            <option value="ay">ay</option>
            <option value="az">az</option>
            <option value="wx">wx</option>
            <option value="wy">wy</option>
            <option value="wz">wz</option>
        </select> <br><br>        
<label for="indexBegin">indexBegin:</label>
<input type="text" name="indexBegin" id="indexBegin"><br><br>
<label for="indexEnd">indexEnd:</label>
<input type="text" name="indexEnd" id="indexEnd"><br><br>
<label for="threshold1">threshold1:</label>
<input type="text" name="threshold1" id="threshold1"><br><br>
<label for="threshold2">threshold2:</label>
<input type="text" name="threshold2" id="threshold2"><br><br>
<label for="winLength">winLength:</label>
<input type="text" name="winLength" id="winLength"><br><br>
<input type="submit" value="Submit">