<form method="POST" th:action="@{/upload}">
  
<body>
    <div>
  
        <select id="select" name="operation">    
        	<option value="0">Select Operation</option>                                        
            <option value="1">searchContinuityAboveValue</option>
            <option value="2">backSearchContinuityWithinRange</option>
            <option value="3">searchContinuityAboveValueTwoSignals</option>
            <option value="4">searchMultiContinuityWithinRange</option>
        </select> 
  <input type="submit" value="Submit">
</form>
</div>
    </div>
</body>
  
</form>
